@font-face {
    font-family: "Wremena";
    src: url('./assets/fonts/WremenaRegular.woff');
}

body{
    font-family: "Wremena";
}

.app {
    top: 100px;
    margin: auto;
    visibility: hidden;
  }
  
  .news-box {
      overflow: hidden;
      position: absolute;
      top: 0px;
      height: 3em;
      width: 100%;
    }
  
  /* @keyframes scroll {
    from {
      left: 500px;
    }
    to {
      left: -500px;
    }
  }
     */
    .tag-line {
      position: absolute;
      top: 0px;
      left: 5px;
      font-size: 1.2em;
    }
    
    .news {
      
    }
     
    .ticker {
      visibility: hidden;
      width: 100%;
      max-height: 0em;
    }
    